@import (reference) "~css/fit-img";

// tempcolour
@fade-background: black;
@name-overlay-background: black;

.preview-overlay
{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: fade(@fade-background,50%);
    align-items: center;
    justify-content: center;

    img
    {
        .scaling-img();
    }

    .name-overlay
    {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: fade(@name-overlay-background,60%);
    }

    &:focus
    {
        outline: none;
    }
}