.image-row
{
    .title-area
    {
        height: 35px;
        padding: 4px 18px 4px 18px;
        box-sizing: border-box;
        margin-bottom: 8px;
    }

    .thumbnail-item
    {
        width: 200px;
        height: 200px;
    }
}