// tempcolour
@scrollbar-colour: #d8d8d8;

.reorder-phase-section
{
    .header-zone
    {
        .drag-proxy-zone
        {
            margin-left: 7px;
        }

        .next-button-zone
        {
            flex: 1;
            justify-content: flex-end;
            padding: 0 8px;
        }
    }

    .body-zone
    {
        overflow: hidden;

        .image-rows-contain
        {
            height: 100%;
            overflow: auto;

            .simplebar-track.simplebar-vertical
            {
                width: 30px;

                .simplebar-scrollbar
                {
                    &::before
                    {
                        border-radius: 0;
                        background: fade(@scrollbar-colour,20%);
                    }

                    &.simplebar-hover::before
                    {
                        background: fade(@scrollbar-colour,30%);
                    }
                }
            }

            &.simplebar-dragging
            {
                .simplebar-track.simplebar-vertical
                {
                    .simplebar-scrollbar::before
                    {
                        background: fade(@scrollbar-colour,20%);
                    }
                }
            }
        }
    }
}