.rename-group
{
    height: 80px;
    display: flex;

    .checkbox-zone
    {
        width: 50px;
    }

    .entry-zone
    {
        flex: 2;
        min-width: 280px;
    }

    .thumbnail-zone
    {
        flex: 8;
    }
}