@import (reference) "~css/wide-square-scroll";

// tempcolour
@auto-rename-button: #2c5990;
@auto-rename-hover: #3f70ac;
@checkbox-border: #f2f2f2;

.rename-phase-section
{
    .header-zone
    {
        padding: 0 8px;
        align-items: center;

        .inputs-zone
        {
            flex: 1;

            .base-path
            {
                flex: 2;
            }

            .auto-rename
            {
                --input-font-size: 11px;
                --button-background: @auto-rename-button;
                --button-background-hover: @auto-rename-hover;
                margin-left: 10px;
                flex: 1;
            }

            .empty
            {
                flex: 1;
            }
        }

        .rename-button-zone
        {
            flex: initial;
            justify-content: flex-end;
            margin-left: 10px;
        }
    }

    .body-zone
    {
        position: relative;
        overflow: hidden;

        .rename-groups
        {
            width: 100%;
            .wide-square-scroll();
            .simple-bar-container();
        }

        .checkbox-border
        {
            width: 50px;
            height: calc(100% - 8px);
            position: absolute;
            border-right: 1px solid @checkbox-border;
            opacity: 0.8;
        }
    }
}